<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${game.getName()}" />
</head>
<body>
    <div>
        <h1 th:text="${game.getName()}" />
        <table>
            <tbody>
                <tr>
                    <td>Producer</td>
                    <td th:text="${game.getProducer()}"/>
                </tr>
                <tr>
                    <td>Age restriction</td>
                    <td th:text="${game.getAgeRestriction().getAge()}"/>
                </tr>
                <tr>
                    <td>Number of players</td>
                    <td th:text="${game.getMinNumOfPlayers() + '-' + game.getMaxNumOfPlayers()}"/>
                </tr>
                <tr>
                    <td>Category</td>
                    <td th:text="${game.getCategory().getName()}"/>
                </tr>
            </tbody>
        </table>
        <div>
            <h3>Description</h3>
            <div th:text="${game.getDescription()}"></div>
        </div>
        <div>
            <h3>Expansions</h3>
            <div th:if="${game.getExpansions().size() == 0}">
                No expansions
            </div>
            <div th:unless="${game.getExpansions().size() == 0}">
                <table>
                    <tbody th:each="dlc: ${game.getExpansions()}">
                        <tr>
                            <td th:text="${dlc.getName()}"/>
                            <td><a th:href="@{/boardgames/{id}(id=${dlc.getId()})}">Show</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>