<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${'Update ' + list.name}"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>
    <div th:replace="fragments/header :: header" ></div>
    <div class="container" >
        <div class="row">
            <h1 class="col-md-6">Edit</h1>
        </div>
        <form th:action="@{/boardgamelists/copy}" method="post" th:object="${list}">
            <div class="form-group col-md-6">
                <label for="name" class="col-4 col-form-label required">Name</label>
                <input type="text" id="name" name="name" placeholder="Name" th:field="*{name}" class="form-control" required/>
            </div>
            <div class="form-group col-md-6">
                <label for="description" class="col-4 col-form-label">Description</label>
                <textarea name="description" id="description" th:field="*{description}" class="form-control">
                </textarea>
            </div>
            <h5>Unchecked games you want to remove from list</h5>
            <table class="table table-hover table-striped">
                <tbody>
                <tr th:each="boardGame, stat : ${list.boardGames}">
                    <td><input type="checkbox" th:field="*{boardGames}" th:value="${boardGame.id}" checked></td>
                    <td th:text="${boardGame.name}"></td>
                </tr>
                </tbody>
            </table>
            <button type="submit" class="btn btn-success my-1"><span class="material-icons">edit</span> Edit</button>
        </form>
    </div>
</body>
</html>